.menu{
    text-align:right;
}

.navbar{
    background-color: #43766C;
}

.container-fluid .navbar-brand{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-collapse a{
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    color:#EEEDEB;
    margin-right: 5px;
}

.nav-item .dropdown-menu{
    background-color: #43766C;
}

.carousel-caption h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    color:#EEEDEB;
    text-shadow: 2px 2px 2px black;
}

.ofertas{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    text-align: center;
    background-color:#EEEDEB;
}

.card-body{
    background-color:#B19470;
}

.col .card{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.off{
    background-color:#E0CCBE;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sobre-café{
    color: black;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sobre-titulo{
    text-align: center;
}

.figure{
    margin: 21px;
    margin-right: 5px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.rodapé{
    font-family: 'Times New Roman', Times, serif;
    background-color:#43766C;
    color: #EEEDEB;
}